.drawer-container {
    background-color: var(--active) !important;
}

.logo {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--lightblue);
    font-weight: bold;
    border-bottom: 1px solid var(--logo);
}

.mb-link {
    text-decoration: none;
    color:var(--white);
    font-size: 20px;
}

.mb-active{
    color: var(--lightblue);
    background-color: #404040;
}