.drawer-container {
    background-color: #404040 !important;
}

.logo {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #50C0FF;
    font-weight: bold;
    border-bottom: 1px solid rgb(141, 136, 136);
}

.mb-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    /* margin-left: 20px; */
}

.mb-active{
    color: #50C0FF;
    background-color: #404040;
    /* padding: 0 10px;
    border-radius: 5px; */
}