
.header-toolbar {
    display: flex;
    /* justify-content: center; */
    background-color: var(--bg-color); 
    justify-content: space-between;
}

.header-title {
    color: var(--lightblue);
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    margin-left: 20px;
 }

 .link:hover {
    color: var(--lightblue);
 }

 .active{
    color: var(--lightblue);
    background-color: var(--active);
    padding: 0 10px;
    border-radius: 5px;
 }

/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 425px) {
    .header-toolbar {
        display: flex;
        background-color: var(--bg-color); 
        justify-content: center;
    }

    .hamburger {
         position: absolute !important;
         left: 25px
    }


}
