.header-toolbar {
    display: flex;
    /* justify-content: center; */
    background-color: #2F2F2F;
    justify-content: space-between;
}

.header-title {
    color: #50C0FF;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-left: 20px;
 }

 .link:hover {
    color: #50C0FF;
 }

 .active{
    color: #50C0FF;
    background-color: #404040;
    padding: 0 10px;
    border-radius: 5px;
 }



/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 425px) {
    .header-toolbar {
        display: flex;
        /* justify-content: center; */
        background-color: #2F2F2F;
        justify-content: center;
    }

    .hambergar {
         position: absolute !important;
         left: 25px
    }


}
