body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2F2F2F !important;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiInputLabel-root,
.MuiInputBase-root {
  color: #fff !important;
}

.MuiOutlinedInput .MuiSvgIcon-root {
  fill: #fff !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #fff !important;
}

.MuiChip-filled {
  background-color: #fff !important;
}

.MuiChip-filled .MuiSvgIcon-root {
  fill: #4e4e4e !important;
}


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {


} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {

} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .album-content {
    padding-left: 0px !important;
  }
  .album-card-container {
    justify-content: center;

}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1024px) {
  .album-card-container {
    gap: 20px !important;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {


} */
