.album-header{
    height: 150px;
    margin: 0 30px;
    /* background-color: antiquewhite; */
}

.title-container {
 display: flex;
 justify-content: space-between;
}

.title{
    color: #fff;

}

.view-all{
    color: #fff;
    
}

